<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        
    </head>
    <body>
        <br>
           <h1>Aktualne saldo: {{saldo}}</h1> 
            <br>
           <h1>Stan magazynu</h1>
            <section>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Produkt</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for key, value in product.items() %}
                      <tr class="active">
                        <td>{{key}}</td>
                        <td>{{value["amount"]}}</td>
                        <td>{{value["price"]}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </section>
  <br>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      {% for key, value in message.items() %}
            {{value}}
            {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

        <div>
            <h1>Formularz zakupu</h1>
            <form method="post">
                {{formPurchase.hidden_tag()}}
                {{formPurchase.name.label}}{{formPurchase.name()}}<br>
                {{formPurchase.price.label}}{{formPurchase.price()}}<br>
                {{formPurchase.amount.label}}{{formPurchase.amount()}}<br>
                {{formPurchase.submit()}}
            </form>
    </div>
<br>
    <div>
        <h1>Formularz sprzedaży</h1>
        <form method="post">
            {{formSale.hidden_tag()}}
            {{formSale.name.label}}{{formSale.name()}}<br>
            {{formSale.price.label}}{{formSale.price()}}<br>
            {{formSale.amount.label}}{{formSale.amount()}}<br>
            {{formSale.submit()}}
        </form>
    </div>
<br>
<div>
    <h1>Formularz zmiany salda</h1>
    <form method="post">
        {{formSaldo.hidden_tag()}}
        {{formSaldo.value.label}}{{formSaldo.value()}}<br>
        {{formSaldo.comment.label}}{{formSaldo.comment()}}<br>
        {{formSaldo.submit()}}
    </form>
</div>
    </body>
</html>