<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
    </head>
    <body>
        <br>
           <h1>Aktualne saldo: {{saldo}}</h1> 
            <br>
           <h1>Stan magazynu poczeka</h1>
  <br>
        <section>
            <h1>Formularz zakupu</h1>
            <form method="post">
                {{formPurchase.hidden_tag()}}
                {{formPurchase.name.label}}{{formPurchase.name()}}<br>
                {{formPurchase.price.label}}{{formPurchase.price()}}<br>
                {{formPurchase.amount.label}}{{formPurchase.amount()}}<br>
                {{formPurchase.submit()}}
            </form>
    </div>
    </section>
<br>
    <section>
        <h1>Formularz sprzedaży</h1>
        <form method="post">
            {{formSale.hidden_tag()}}
            {{formSale.name.label}}{{formSale.name()}}<br>
            {{formSale.price.label}}{{formSale.price()}}<br>
            {{formSale.amount.label}}{{formSale.amount()}}<br>
            {{formSale.submit()}}
        </form>
</section>
<br>
<section>
    <h1>Formularz zmiany salda</h1>
    <form method="post">
        {{formSaldo.hidden_tag()}}
        {{formSaldo.value.label}}{{formSaldo.value()}}<br>
        {{formSaldo.comment.label}}{{formSaldo.comment()}}<br>
        {{formSaldo.submit()}}
    </form>
</section>
    </body>
</html>